.cards{
    gap: 50px;
    padding: 20px;
    display: flex;
    background-color: rgb(215, 236, 255);
}
.card{
    align-items: center;
    width: 200px;
    background-color: rgb(250, 241, 230);
    padding: 20px;
    height: 220px;
    text-align: center;
}
.produto{
    width: 60%;
    height: 100px;
    margin: 0 40px;
}
.card p{
    text-align: center;
    margin-top: 20px;
    color: black;
    margin-bottom: 10px;
}
.card span{
    
    color: rgb(213, 19, 19);
    font-weight: 600;

}
