.corpo_texto{
    position: relative;
    width: 400px;
    margin-top: 30px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.564);
    color: #333;
    text-align: center;
    padding: 15px;
    margin-left: 980px;
    font-size: 15px;
    border-radius: 10px;
    padding-top: 30px;
}

.imagem_props{
    width: 90px;
}
